@model WebApplicationSecurityProject22.Domain.Cesar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cesar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CipherText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CipherText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
