@model IEnumerable<WebApplicationSecurityProject22.Domain.Cesar>

@{
    ViewData["Title"] = "Index";
}

<h2>Cesar Encryption</h2>
<b><p>Encryption is based on the following alphabet:</p></b>
<p>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!?.,</p>
<br>

<p>
   <b  class="btn btn-outline-info"> <a asp-action="Create">Create New</a></b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlainText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CipherText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftAmount )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlainText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CipherText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
