﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>Anastassia Pellja Web Application Security Final Project</h3>
    <img src="/Users/anastassia/Documents/demo21/WebApplicationSecurityProject22/WebApplicationSecurityProject22/wwwroot/Images/E.jpeg" alt="Encryption" width="1150" height="500">
</div>