@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>User info</p>
<table class="table table-striped">
    <tbody>
    <thead>
    <tr>
        <th>Claim name</th>
        <th>Claim Value</th>
    </tr>
    </thead>
    </tbody>
    @foreach (var claim in User.Claims)
    {
        <tr>
            <td>
                @claim.Type
            </td>
            <td>
                @claim.Value
            </td>
        </tr>
    }
</table>