@model WebApplicationSecurityProject22.Domain.DiffieHelman

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiffieHelman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedSecret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedSecret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CypherText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CypherText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd >
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
