@model IEnumerable<WebApplicationSecurityProject22.Domain.DiffieHelman>

@{
    ViewData["Title"] = "Index";
}

<h2>Diffie-Helman Encryption</h2>
<p><b>Instructions: </b></p>
<p> 1) Choose public keys G (base number) and P (modulus, should be prime), if chosen P is not prime</p>
<p>then algorithm will take the next smaller prime</p>
<p>2) Choose private keys A and B. A and B should be not bigger than P, otherwise modulus P will be taken</p>
<p>3) Introduce Plain Text</p><br>
<p>
    <b class="btn btn-outline-info"> <a asp-action="Create">Create New</a></b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicKeyG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicKeyP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateKeyA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateKeyB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlainText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CypherText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKeyG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKeyP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKeyA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKeyB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlainText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CypherText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
