@model WebApplicationSecurityProject22.Domain.RSA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RSA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primeP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primeP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primeQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primeQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CypherText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CypherText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
