@model IEnumerable<WebApplicationSecurityProject22.Domain.RSA>

@{
    ViewData["Title"] = "Index";
}

<h2>RSA Encryption</h2>
<p><b>Instructions: </b></p>
<p> 1) Choose prime numbers p and q, if p and q are not primes, algorithm will automatically</p>
<p>takes the smaller one</p>
<p>2) e and N modulus are calculated automatocally</p>
<p>3) Introduce Plain Text</p><br>
<p>
   <b class="btn btn-outline-info"> <a asp-action="Create">Create New</a></b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.primeP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primeQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicKeyN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicKeyE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlainText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CypherText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.primeP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primeQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKeyN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKeyE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlainText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CypherText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
